@import "tailwindcss";

@theme {
  --color-primary-dark: #013b5d;
  --color-primary: #2387c0;
  --color-primary-light: #5ebbee;
  --color-primary-lightE: #bddbeb;
  /* texts */
  --color-lightly: #c4c4c4;
  --color-darkly: #242527;
  /* Linear */
  --color-from: #404040;
  --color-to: #222222;
}

button {
  cursor: pointer;
}

._ {
  color: #013b5d;
  color: #2488c2;
  color: #5ebbee;
  color: #bddbeb;
  color: #c4c4c4;
  color: #242527;
  color: #3b3b3b;
  color: #222222;
}
