@import "tailwindcss";

@theme {
  --color-primary-dark: #013b5d;
  --color-primary: #2387c0;
  --color-primary-light: #5ebbee;
  --color-primary-lightE: #bddbeb;
  /* texts */
  --color-lightly: #c4c4c4;
  --color-darkly: #242527;
  /* Linear */
  --color-from: #474646;
  --color-to: #222222;
}

button {
  cursor: pointer;
}

/* Chrome, Edge, Safari, Opera */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--color-primary), var(--color-primary-light));
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: thin; /* auto | thin | none */
  scrollbar-color: var(--color-primary) transparent;
}